body{
    text-align: center;
    flex-direction: row;
}
#card{
    background-color: blue;
    margin-top: 10%;
    margin-left: 34%;
    margin-right: 34%;
    outline-style: solid;
    outline-width:3px ;
    outline-color: black;
    border-radius: 7px;

}
button{
    background-color: greenyellow;
    color: white;
}